.home__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home__header > div > a {
  margin-right: 20px;
  text-decoration: inherit;
  color: black;
  font-size: 15px;
}
.home__header > div > a:hover {
  text-decoration: underline;
}
.header__right {
  display: flex;
  align-items: center;
  min-width: 13vh;
  justify-content: space-between;
}
.header__right > .MuiSvgIcon-root {
  margin-right: 20px;
}
.home__body {
  flex: 1;
  display: flex;
  margin-top: 200px;
  flex-direction: column;
}
.home__body > img {
  object-fit: contain;
  height: 100px;
}
.logo {
  height: 50px;
}
